.Error{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Error>img{
    width: 50%;
}
.Error > h1{
    font-family: 'Mochiy Pop One', sans-serif;
    color: dodgerblue
}