.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #579AE1, #4F8CCD, #386494, #2E5179, #234060);
}
.topRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
#search{
    font-size: 2vw;
    color: white;
}


.bottomRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 50vh;
    width: 100%;
}
.bottomRow > h1{
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
}
.bottomRow > h3{
    color: white;
    font-family: 'Homemade Apple', cursive;
}
.model{
    height: 25vh;
    width: 15%;
}

.CardArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    min-height: 150vh;
    margin-top: 5%;
}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 65vh;
    width: 25%;
    box-shadow: 5px 5px 10px rgb(71, 71, 71);
    margin: 2%;
    background-image: linear-gradient(to top, rgb(136, 255, 165),cyan, white);
    border-radius: 10px;  
}

.Card:hover{
    transform: scale(1.055,1.055);
}
.Card>img{
    width: 100%;
    height: 40vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Card > h3{
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 5%;
    font-weight: 200;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .topRow{
        flex-direction: column;
        min-height: 20vh;
    }
    #searchButton{
        margin-top: 5%;
    }
    .CardArea{
        flex-direction: column;
    }
    .Card{
        width: 50%;
    }
}
